update [Statics] set 
[S_AccNo2]=0,[S_Per2]=0,[S_AccType2]=0,
[S_AccNo3]=0,[S_Per3]=0,[S_AccType3]=0,
[S_AccNo4]=0,[S_Per4]=0,[S_AccType4]=0,
[P_AccNo1]=0,[P_Per1]=0,[P_AccType1]=0,
[P_AccNo2]=0,[P_Per2]=0,[P_AccType2]=0,
[P_AccNo3]=0,[P_Per3]=0,[P_AccType3]=0,
[P_AccNo4]=0,[P_Per4]=0,[P_AccType4]=0
